body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img {
  display: block;
  text-align: center;
} */

body {
  /* background-color: #5998C5; */
  background-image: url("/site-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-title-text, .username-game-list {
  text-align: center;
  color:black;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;

}

.main-body {
  padding: 16px;
  max-width: 95%;
  margin: 0 auto;
}

.username-game-div {
  /* background-color: honeydew; */
}

.username-main-form {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}

.username-main-form > form {
  display: inline-block;
}

.username-main-form form > div > input {
  margin-right: 16px;
}

.gamename-container {
  box-sizing: border-box;
  /* border: 1px solid red; */
  /* border-radius: 25px; */
  padding: 8px;
  margin-bottom: 8px;
    /* max-width: 300px; */
}

.gamename-container2 {
  box-sizing: border-box;
  /* border: 1px solid green; */
  background-color: #FFFECB;
  /* box-shadow: 5px 10px #888888; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 24px;
  overflow: hidden;
}

.gamename-container2 > p, .gamename-container2 > h3 {
  padding: 4px 16px;
} 

.game-icons-box {
  background-color: #FEA82F;
  color: white;
  padding: 8px 16px;
}

.game-title {
  text-align: center;
}

.game-img, .gamename-container2 > h3 {
  text-align: center;
}

.game-icons {
  width: 25px;
  height: 25px;
  margin-bottom: 16px;
}

.game-icons-box > div > p {
  text-align: center;
}

.game-img {
  overflow: hidden;
}
.game-img img {
  width:100%;
  max-height: auto;
}
.testbox {
  /* border: 1px solid purple; */
  text-align: center;
  padding: 4px;
}

.testbox-card {
  /* border: 1px solid darkblue; */
  background-color: #FFFECB;
  border-radius: 25px;
  overflow: hidden;
  margin: 8px;
}

.testbox-tab {
  background-color: #FEA82F;
  color: white;
  padding-top: 4px;
}

.testbox img {
  /* width: 100%;
  height: auto; */
  max-width: 300px;
  max-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.testbox-icons {
  width: 25px;
  height: 25px;
  margin-bottom: 16px;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.submit-btn {
  background-color: #58355E;
  color: white;
}

.submit-btn:hover {
  background-color: #3D2541;
  color: white;
}

.random-btn {
  background-color: #A5402D;
  color: white;
}

.random-btn:hover {
  background-color: #803123;
  color: white;
}

.input-field {
  background: indigo;
  border-radius: 25px;;
}

.react-slider-section {
  /* max-width: 90%; */
}

.horizontal-slider {
    width: 100%;
    height: 50px;
    margin: 24px;
  }

.slider-thumb {
  top: 1px;
  width: 50px;
  height: 4px;
  line-height: 45px;
  background-color: green;
  height: 100%;
  text-align: center;
  border-radius: 50%;
  color: white;
}

.slider-track {
  background-color: salmon;
  margin: 0 5px;
  top: 20px;
  height: 10px;
}





/* .img-box {
  object-fit: cover;
  max-width: 100%;
} */


/* https://coolors.co/58355e-a5402d-fea82f-fffecb-5998c5 */