body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img {
  display: block;
  text-align: center;
} */

body {
  /* background-color: blue; */
}

.header-title-text, .username-game-list {
  text-align: center;
}

.main-body {
  padding: 16px;
  max-width: 95%;
  margin: 0 auto;
}

.username-main-form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.username-main-form > form {
  display: inline-block;
}

.username-main-form form > div > input {
  margin-right: 16px;
}

.gamename-container {
  box-sizing: border-box;
  /* border: 1px solid red; */
  /* border-radius: 25px; */
  padding: 8px;
  margin-bottom: 8px;
    /* max-width: 300px; */
}

.gamename-container2 {
  box-sizing: border-box;
  /* border: 1px solid green; */
  background-color: #FFFECB;
  border-radius: 24px;
  overflow: hidden;
}

.gamename-container2 > p, .gamename-container2 > h3 {
  padding: 4px 16px;
} 

.game-icons-box {
  background-color: #FEA82F;
  color: white;
  padding: 8px 16px;
}

.game-title {
  text-align: center;
}

.game-img, .gamename-container2 > h3 {
  text-align: center;
}

.game-icons {
  width: 25px;
  height: 25px;
  margin-bottom: 16px;
}

.game-icons-box > p {
  text-align: center;
}

.game-img {
  overflow: hidden;
  /* border: 1px solid red; */
}
.game-img img {
  /* width: 100%;
  height: auto; */
  /* height: 300px; */
  /* max-height: 300px; */
  /* background-size: contain;
  background-repeat: no-repeat; */
  width:100%;
  max-height: auto;
}
.testbox {
  /* border: 1px solid purple; */
  text-align: center;
  padding: 4px;
}

.testbox-card {
  /* border: 1px solid darkblue; */
  background-color: #FFFECB;
  border-radius: 25px;
  overflow: hidden;
  margin: 8px;
}

.testbox-tab {
  background-color: #FEA82F;
  color: white;
  padding-top: 4px;
}

.testbox img {
  /* width: 100%;
  height: auto; */
  max-width: 300px;
  max-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.testbox-icons {
  width: 25px;
  height: 25px;
  margin-bottom: 16px;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}



/* .img-box {
  object-fit: cover;
  max-width: 100%;
} */
